.modalField {
  display: grid;
  gap: 8px;

  span {
    font-size: 13px;
    font-weight: 600;
    color: #344054;
  }

  :global(.ant-input),
  :global(.ant-input-affix-wrapper),
  :global(.ant-select-selector),
  :global(.ant-input-number),
  :global(.ant-input-number-input) {
    border-radius: 14px !important;
  }
}

